
body { background:#F6E7E7; font-family:Roboto; }
.section-title{font-family:Italianno; font-size:3rem; color:#D99393;}
.grid-products{display:grid; gap:20px;}
.card-product{background:#fff; padding:10px; border-radius:10px;}
.btn{background:#D99393; padding:10px; border-radius:8px; color:#fff; text-decoration:none;}
